<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>forum</title>
		<link rel="stylesheet" href="assets/css/home.css">
	</head>

	<body>
		<div class="top-bar">
			<div class="left-images">
				<a href="/"></a>
				<img src="assets/img/logoforum.png" alt="Image gauche">
			</div>
			<div class="middle-buttons">
			    <form action="/filter" method="POST">
					{{if .IsLoggedIn}}
			        <select name="filters" id="filters">
			            <option value="">selection par filtre</option>
			            <option value="messages">vos messages</option>
			            <option value="likes">liste des 'likes'</option>
			        </select>
					{{end}}
			        <select name="categories" id="categories">
                          <option value="">Sélection par catégorie</option>
                          {{range .Categories}}
                            <!--<option value="{{.ID}}">{{.Name}}</option>-->
							<option value="{{.Name}}">{{.Name}}
                          {{end}}
                    </select>

				
			        <button type="submit">Filtrer</button>
			    </form>
			</div>

			<div class="right-buttons">
				<div class="right-buttons">
					{{if .IsLoggedIn}} 
						<form action="/logout" method="POST">
							<button type="submit" class="btn">Se déconnecter</button>
						</form>
						<!--<button href="/logout" type="submit" class="btn">Logout</button>-->
					{{else}}
						<!-- Popup de login -->
          				<input type="checkbox" id="login-popup" hidden {{with .Error}}checked{{end}}>
						<label for="login-popup" class="btn">Se connecter</label>        
						<div class="popup">
							<div class="popup-content">
								<label for="login-popup" class="close">&times;</label>
								<h2>Connection</h2>
								<form action="/login" method="POST">
                					{{with .Error}}
                  					<p style="color:red; font-weight:bold;">{{.}}</p>
                					{{end}}
                					<input type="email" name="email" placeholder="email" value="{{.Email}}" required>
                					<input type="password" name="password" placeholder="password" required>
                  
                				<button type="submit">Se connecter</button>
              				</form>
							</div>
						</div>    
					{{end}}
					{{if .IsLoggedIn}}
          			{{else}}
					<a href="/register" class="btn">S'inscrire</a>
					{{end}}
				</div>
				<!--<form>
				<button type="submit" class="btn">Logout</button>
				</form>

				<form>
				<a href="/register" class="btn">Register</a>


					</form>-->
			</div>
		</div>


		{{if .IsLoggedIn}} 
  		<div class="mainpart">
    		<button id="new-subject-btn" class="btn">+ Nouveau sujet</button>
  		</div>

  		<div id="subject-form" class="form-container" style="display: none;">
    		<form method="POST" action="/create-topic">
      		<input type="text" name="title" placeholder="Objet du sujet" required>
      		<textarea name="content" placeholder="Contenu du sujet" required></textarea>

      		<div class="categories">
        		<h3>Catégories</h3>
        		<div class="checkboxes">
          		{{range .Categories}}
            		<label class="category-label">
              		<input type="checkbox" name="categories" value="{{.ID}}">
              		<span class="category-name">{{.Name}}</span>
            		</label>
          		{{end}}
        		</div>
      		</div>

      		<button type="submit" class="btn">Publier</button>
    		</form>
  		</div>
		{{end}}


		<h2>Derniers Sujets</h2>

		<div class="topics-header">
  			<span>Titre</span>
  			<span>Catégorie(s)</span>
  			<span>Texte</span>
		</div>

		{{if .Topics}}
  		{{range .Topics}}
    	<div class="topic-banner">
      		<a href="/thread?id={{.ID}}">
        		<span>{{.Title}}</span>
        <div class="topic-categories">
          {{range .Categories}}
            <span class="category-item">{{.Name}}</span>
          {{end}}
        </div>
        <span>
          {{if gt (len .Content) 80}}
            {{slice .Content 0 80}}...
          {{else}}
            {{.Content}}
          {{end}}
        </span>
      	</a>
    	</div>
  		{{end}}
		{{else}}
  		<p class="no-topics">Aucun sujet pour le moment.</p>
		{{end}}

	</body>

	<script>
		document.getElementById("new-subject-btn").addEventListener("click", () => {
			document.getElementById("subject-form").style.display = "block";
		});
	</script>
</html>
