<html>
  <head>
    <title>forum</title>
    <link rel="stylesheet" href="/assets/css/home.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="left-buttons">
        <form>
          <button type="submit" class="btn">New Subject</button>
        </form>
      </div>

      <div class="right-buttons">

        <div class="right-buttons">
          {{if .IsLoggedIn}} 
              <form action="/logout" method="POST">
                <button type="submit" class="btn">Logout</button>
              </form>
              <!--<button href="/logout" type="submit" class="btn">Logout</button>-->
          {{else}}
          <!-- Popup de login -->
          <input type="checkbox" id="login-popup" hidden>
          <label for="login-popup" class="btn">Login</label>        

          <div class="popup">
            <div class="popup-content">
              <label for="login-popup" class="close">&times;</label>
              <h2>Connexion</h2>
              <form action="/login" method="POST">
                <input type="email" name="email" placeholder="email" required>
                <input type="password" name="password" placeholder="password" required>
                <button type="submit">Se connecter</button>
              </form>
            </div>
          </div>    
          {{end}}    

         

          <a href="/register" class="btn">Register</a>        

        </div>

        <!--<form>
          <button type="submit" class="btn">Logout</button>
        </form>

        <form>
          <a href="/register" class="btn">Register</a>


              </form>-->
            </div>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
