<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Inscription</title>
	<link rel="stylesheet" href="assets/css/register.css">
</head>
<body>
	<div id="home">
		<a href="/"><span>←</span>Home</a>
		</div>
	<div class="register form">
	<h1>Créer un compte</h1>
	<form action="/register" method="post">
		<input type="text" name="username" placeholder="username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="password" required>
                <button type="submit">S'inscrire</button>
		</form>
		</div>
</body>
</html>
