<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Sujets</title>
		<link rel="stylesheet" href="assets/css/topic.css">
	</head>

	<body>
		<h2>{{.Topic.Title}}</h2>
		<div class="message">
  			<div class="message-top">
				<p>{{.Topic.Content}}</p>
				<!--<button type="button" class="like">👍</button>
    			<button type="button" class="dislike">👎</button>-->
				<div>
					<p><span class="like">{{.Topic.Likes}}:👍</span> | <span class="dislike">{{.Topic.Dislikes}}:👎</span></p>
					<a href="/react?target_type=topics&target_id={{.Topic.ID}}&value=1">👍</a>
					<a href="/react?target_type=topics&target_id={{.Topic.ID}}&value=-1">👎</a>
					<a href="/remove-reaction?target_type=topics&target_id={{.Topic.ID}}">❌</a>
				</div>
    		</div>
			<div class="categories">
				{{range .Categories}}
				<div>{{.Name}}</div>
				{{end}}
			</div>
			<div class="message-bottom">
    			<small>{{.Topic.CreatedAt}} - {{.Topic.UserName}}</small>
    		</div>
		</div>

		<h3>Messages</h3>
		{{range .Posts}}
		<div class="message">
    		<div class="message-top">
    			<p>{{.Content}}</p>
    			<!--<button type="button" class="like">👍</button>
    			<button type="button" class="dislike">👎</button>-->
				<div>
					<p><span class="like">{{.Likes}}:👍</span> | <span class="dislike">{{.Dislikes}}:👎</span></p>
					<a href="/react?target_type=posts&target_id={{.ID}}&value=1">👍</a>
					<a href="/react?target_type=posts&target_id={{.ID}}&value=-1">👎</a>
					<a href="/remove-reaction?target_type=posts&target_id={{.ID}}">❌</a>
				</div>
    		</div>
			<div class="message-bottom">
    			<small>{{.CreatedAt}} - {{.UserName}}</small>
    		</div>
			</div>
		{{else}}
			<p>Pas de message pour ce sujet.</p>
		{{end}}
		{{if .IsLoggedIn}}
		<h3>Ajouter un message</h3>
		<form method="POST" action="/add-post">
			<input type="hidden" name="topic_id" value="{{.Topic.ID}}">
			<textarea name="content" required></textarea>
			<button type="submit">Send</button>
		</form>
		{{end}}
		<a href="/">Retour à l'accueil</a>
	</body>

</html>