<html>
    <head>
        <title>Test Titre Page d'accueille</title>
    </head>
    <body>
        <h1>Test affichage </h1>
        <!-- Liste des boutons pour changer de pages -->
        <form action="/login" method="POST">
            <button type="submit">Login</button> 
        </form>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button> 
        </form>
        <form action="/register" method="POST">
            <button type="submit">Register</button> 
        </form>
        <form action="/newsubject" method="POST">
            <button type="submit">NewSubject</button> 
        </form>
    </body>
</html>